@model HomeDetailsViewModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}

<div class="row Justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1> @Model.Employee.Name</h1>
            </div>
            <div class="card-body text-center">
                @*<img class="card-img-top" src="@Model.Employee.Image" style="max-width:20%;"/>*@
                <h4>Email : @Model.Employee.Email</h4>
                <h4>Dept : @Model.Employee.Department</h4>
            </div>
            <div class="card-footer text-center">
                @*@Html.ActionLink("back", "index", "home", new { @class = "btn btn-primary" })*@
                
                <a href="@Url.Action("index","home")" class="btn btn-primary">back</a>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>

    </div>

</div>


@section Scripts{ 
<script src="~/js/CustomScript.js"></script>
}

